.cabecalho{
    align-items: center;
    background-color: var(--brancoFundo);
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.cabecalho__lista{
    display: flex;
}

.cabecalho__lista__item:last-child a{
    margin-right: 0;
}

.cabecalho__item__link{
    color: var(--cinza);
    margin-right: 1.25rem;
    text-transform:capitalize;
}

.cabecalho__item__link:hover{
    color: var(--preto);
}

.cabecalho__item__link.ativo{
    color: var(--preto);
    font-weight: bold;
}

@media screen and (min-width: 0) {
    .cabecalho{
        justify-content: center;
        padding: 0.5rem 1rem;
    }
    .cabecalho__img{
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .cabecalho{
        justify-content: space-between;
        padding: 0 5rem;
    }
    .cabecalho__img{
        display: block;
    }
}