.receitas{
    background: #e5e5e5;
    display: flex;
    flex-wrap: wrap;
}

.receita{
    background: var(--branco);
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    padding-bottom: 21px;
}

.receita__connteudo{
    padding: 1rem;
}

.receita__titulo{
    font-size: 1.438rem;
}

.receita__texto{
    font-size: 1.187rem;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;
}

.btn__receita__ver{
    color: var(--branco);
    background-color: var(--vermelho);
    border: 1px solid var(--vermelho);
    border-radius: 5px;
    padding: 8px 15px;
}

.btn__receita__ver:hover{
    background-color: #5a0b0b;
}

@media screen and (min-width: 0) {
    .receitas{
        padding: 5rem 0 0 1rem;
    }
    .receita{
        margin-right: 1rem;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .receitas{
        padding: 5rem 0 0 2.5rem;
    }
    .receita{
        margin-right: 2.5rem;
        width: (33.33% - 2.5rem);
    }
}

@media screen and (min-width: 992px) {
    .receitas{
        padding: 5rem 0 0 5rem;
    }
    .receita{
        margin-right: 5rem;
        width: calc(100%/3 - 5rem);
    }
}