.sobre{
    padding: 2.5rem;
    text-align: center;
}

.sobre__titulo{
    color: var(--vermelho);
    font-family: var(--fonteTitulo);
    font-size: 3.188rem;
}

.sobre__texto{
    color: var(--cinza);
    font-size:1.75rem;
    font-weight: 300;
    margin-top: 30px;
}